interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: name=Some+Test+Facility&address=1F+Jln+2%2F38+Seksyen+2+Petaling+Jaya%2C+Selangor&sector=Construction&country=Malaysia&my_field=ID12345&diagnosis=VALID
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDDEN
    method: POST
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: '{"matches":[],"item_id":804461,"geocoded_geometry":{"type":"Point","coordinates":[101.6451971,3.0866489]},"geocoded_address":"1,
        Jalan Dispensary (2/38), Seksyen 2 Petaling Jaya, 46000 Petaling Jaya, Selangor,
        Malaysia","status":"NEW_FACILITY","os_id":"MY2022297H0MC6N"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
