interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributor_types=Union&contributor_types=Other&detail=false
  response:
    body:
      string: '{"type":"FeatureCollection","count":3505,"next":"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributor_types=Union&contributor_types=Other&detail=false&page=2","previous":null,"features":[{"id":"US20222223446TZ","type":"Feature","geometry":{"type":"Point","coordinates":[-122.6475226,45.7966211]},"properties":{"name":"14
        ACRES VINEYARD & WINERY                   ","address":"2411 NE 244TH ST, RIDGEFIELD,
        Washington, United States","country_code":"US","os_id":"US20222223446TZ","country_name":"United
        States","has_approved_claim":false,"ppe_product_types":null,"ppe_contact_phone":null,"ppe_contact_email":null,"ppe_website":null,"is_closed":null}},{"id":"US2022222A7XX43","type":"Feature","geometry":{"type":"Point","coordinates":[-119.7460779,46.2107884]},"properties":{"name":"14
        HANDS WINERY                              ","address":"660 FRONTIER RD, PROSSER,
        Washington, United States","country_code":"US","os_id":"US2022222A7XX43","country_name":"United
        States","has_approved_claim":false,"ppe_product_types":null,"ppe_contact_phone":null,"ppe_contact_email":null,"ppe_website":null,"is_closed":null}},{"id":"US2[...]
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributor_types=Union&contributor_types=Other&detail=false&page=2
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":3505,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributor_types=Union&contributor_types=Other&detail=false&page=3\",\"previous\":\"https://9f692df0338dcb[...]
[...]
