interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}],
        "caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109832}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/contributor-types
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/contributor-types/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/contributor-types/
  response:
    body:
      string: '[["Academic / Researcher / Journalist / Student","Academic / Researcher
        / Journalist / Student"],["Auditor / Certification Scheme / Service Provider","Auditor
        / Certification Scheme / Service Provider"],["Brand / Retailer","Brand / Retailer"],["Civil
        Society Organization","Civil Society Organization"],["Facility / Factory /
        Manufacturing Group / Supplier / Vendor","Facility / Factory / Manufacturing
        Group / Supplier / Vendor"],["Multi-Stakeholder Initiative","Multi-Stakeholder
        Initiative"],["Union","Union"],["Other","Other"]]'
    headers:
      Allow:
      - GET, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
