interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109832}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/contributor-embed-configs/25/
  response:
    body:
      string: '{"id":8,"width":"1200","height":"800","color":"#47b60c","font":"Arial,Helvetica,sans-serif","contributor":25,"embed_fields":[{"column_name":"number_of_workers","display_name":"Number
        of Workers","visible":true,"order":0,"searchable":false},{"column_name":"percent_female_workers","display_name":"percent_female_workers","visible":true,"order":1,"searchable":false},{"column_name":"type_of_facility","display_name":"Type
        of Facility","visible":true,"order":2,"searchable":false},{"column_name":"type_of_product","display_name":"Type
        of Product","visible":true,"order":3,"searchable":false},{"column_name":"percent_migrant_workers","display_name":"percent_migrant_workers","visible":true,"order":4,"searchable":false},{"column_name":"parent_company","display_name":"Parent
        Company","visible":true,"order":5,"searchable":false},{"column_name":"tier","display_name":"tier","visible":true,"order":6,"searchable":false},{"column_name":"","display_name":"","visible":false,"order":7,"searchable":false},{"column_name":"product_type","display_name":"Product
        Type","visible":false,"order":8,"searchable":false},{"column_name":"facility_type","display_name":"Facility
        Type","visible":false,"order":9,"searchable":false},{"column_name":"processing_type","display_name":"Processing
        Type","visible":false,"order":10,"searchable":false}],"prefer_contributor_name":true,"contributor_name":"Levi
        Strauss & Co.","text_search_label":"Search a Facility Name or OAR ID","map_style":"default","extended_fields":["number_of_workers","parent_company"],"hide_sector_data":null}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
