interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"gazetteercache": {"ok": true}, "caches": [{"api_throttling": {"ok":
        true}}, {"default": {"ok": true}}], "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/sectors/
  response:
    body:
      string: '["\"Bed \"\"","\"Bed\"","\"Knit Bottoms\"","\"Knit Tops\"","\"Sleepwear\"\"","#N/A","Accessori","Accessories","Advisory","Agriculture","Agriculture
        & Farming","Agriculture And Farming","Apparel","Appliances","Automobiles &
        Other Transport Vehicles","Automotive","Banking","Bath\"","Bike","Chemicals","Civics","Construction","Consumer
        Electronics","Consumer Product","Consumer Products","Denim\"\"","Electrical
        Equipment","Electricity","Electronics","Electronics/Technology","Energy","Energy
        & Resources","Equipment","Esg & Sustainability","Essentials","Fashion","Financial
        Services","Food","Food And Beverage","Food And Beverages","Footwear","Furniture","Gear","Hardlines","Healthcare","Home","Home
        Goods","Housewares","Jewelry","Knit Activewear\"","Materials Manufacturing","Multi-Category","Non-Retail","Outdoor
        Equipment","Outerwear\"\"","Paper","Pharmaceuticals","Renewable Energy","Repair","Shoes","Sleeping
        Bags","Solar Electric","Solar Energy","Sporting Goods","Technology","Tents","Textiles","Tier
        2","Toys"]'
    headers:
      Allow:
      - GET, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
