interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"gazetteercache": {"ok": true}, "caches": [{"api_throttling": {"ok":
        true}}, {"default": {"ok": true}}], "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facility-processing-types/
  response:
    body:
      string: '[{"facilityType":"Final Product Assembly","processingTypes":["Assembly","Cut
        & Sew","Cutting","Embellishment","Embroidery","Final Product Assembly","Finished
        Goods","Ironing","Knit Composite","Knitwear Assembly","Linking","Making up","Manufacturing","Marker
        Making","Molding","Packaging","Pattern Grading","Pleating","Product Finishing","Ready
        Made Garment","Sample Making","Seam taping","Sewing","Steaming","Stitching","Tailoring"]},{"facilityType":"Office
        / HQ","processingTypes":["Headquarters","No processing","Offic[...]
