interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&contributors=714&detail=false
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":1592,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&contributors=714&detail=false&page=2\",\"previous\":null,\"features\":[{\"id\":\"BD202005213JD8W\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[90.2640796,23.9368075]},\"properties\":{\"name\":\"4A
        YARN DYEING LTD.\",\"address\":\"Kaichabari, West Side of DEPZ,Savar,Dhaka
        Dhaka\",\"country_code\":\"BD\",\"os_id\":\"BD202005213JD8W\",\"country_name\":\"Bangladesh\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"BR2022035T32BQ3\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-47.9103826,-22.551674]},\"properties\":{\"name\":\"ABBA
        CONFEC\xC7\xD5ES LTDA\",\"address\":\"2647 Rua S\xE3o Pedro, Galp\xE3o 05,
        S\xE3o Pedro\",\"country_code\":\"BR\",\"os_id\":\"BR2022035T32BQ3\",\"country_name\":\"Brazil\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null[...]
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&contributors=714&detail=false&page=2
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":1592,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&contributors=714&detail=false&page=3\",\"previous\":\"https://9f692d[...]
[...]
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&contributors=714&detail=false&page=29
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":1592,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&contributors=714&detail=false&page=30\",\"previous\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&contributors=714&detail=false&page=28\",\"features\":[{\"id\":\"MM2019143B1GH0V\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[96.20642130000002,16.941585]},\"properties\":{\"name\":\"Tsang
        Yih Co., Ltd.\",\"address\":\"Plot No. X3/X4/X5/X6,  Myay Taing Block No.
        20 Anawyahtar Industrial Zone  Hlaing Thar Yar Township 11401 Yangon Myanmar\",\"country_code\":\"MM\",\"os_id\":\"MM2019143B1GH0V\",\"country_name\":\"Myanmar\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"TR2020309PVWGXG\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[28.8822062,41.0270983]},\"properties\":{\"name\":\"Tunada
        Tekstil Kon San Tic. Ltd. Sti\",\"address\":\"Genc Osman Mah. Davutpasa Cad.
        No:40, G\xFCng\xF6ren, Istanbul, Istanbul\",\"country_code\":\"TR\",\"os_id\":\"TR2020309PVWGXG\",\"country_name\":\"Turkey\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"VN2019085MHPC6A\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[106.729859,10.752371]},\"properties\":{\"name\":\"TUNG
        MUNG TEXTILE CO(VN)PTE.LTD\",\"address\":\"ROAD 18,TAN THUAN EX[...]
[...]
