interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109834}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: name=ECLAT+EVERGOOD+TEXTILES+MANUFA&address=SITE+NO.+6+AND+19+THETSANE+IND+%2C+MASERU+100+LS&country=LS&sector=Apparel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDDEN
    method: POST
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: '{"matches":[{"id":"LS2021053GJXTHP","type":"Feature","geometry":{"type":"Point","coordinates":[27.4869229,-29.3150767]},"properties":{"name":"Eclat
        Evergood Textiles Manufactures (PTY) LTD","address":"Site No.6 Thetsanr lndustrial
        Area Maseru","country_code":"LS","os_id":"LS2021053GJXTHP","other_names":[],"other_addresses":[],"contributors":[{"id":686,"name":"Higg","is_verified":false,"contributor_name":"Higg","list_name":null},{"id":2129,"name":"JCPenney
        (JC Penney Factory List November 2021)","is_verified":false,"contributor_name":"JCPenney","list_name":"JC
        Penney Factory List November 2021"}],"country_name":"Lesotho","claim_info":null,"other_locations":[{"lat":-29.3401777,"lng":27.4610219,"contributor_id":2129,"contributor_name":"JCPenney","notes":null}],"ppe_product_types":null,"ppe_contact_phone":null,"ppe_contact_email":null,"ppe_website":null,"is_closed":null,"activity_reports":[],"contributor_fields":[],"new_os_id":null,"has_inexact_coordinates":false,"extended_fields":{"name":[{"value":"Eclat
        Evergood Textiles Manufactures (PTY) LTD","field_name":"name","contributor_id":2129,"contributor_name":"JCPenney","updated_at":"2022-01-27T17:43:19.951897Z"},{"value":"Eclat
        Evergood Textiles Manufactures (PTY) LTD","field_name":"name","contributor_id":686,"contributor_name":"Higg","updated_at":"2022-01-27T17:37:27.403464Z"}],"address":[{"value":"Site
        No.6 Thetsanr lndustrial Area Maseru","field_name":"address","contributor_id":2129,"contributor_name":"JCPenney","updated_at":"2022-01-27T17:43:19.951897Z","is_from_claim":false},{"value":"Site
        No.6 Thetsanr lndustrial Area Maseru","field_name":"address","contributor_id":686,"contributor_name":"Higg","updated_at":"2022-01-27T17:37:27.403464Z","is_from_claim":false}],"number_of_workers":[],"native_language_name":[],"facility_type":[],"processing_type":[],"product_type":[],"parent_company":[]},"created_from":{"created_at":"2021-02-22T06:09:44.569417Z","contributor":"Higg"},"sector":[{"updated_at":"2022-01-27T17:43:19.951897Z","contributor_id":2129,"contributor_name":"JCPenney","values":["Apparel"],"is_from_claim":false},{"updated_at":"2022-01-27T17:37:27.572354Z","contributor_id":null,"contributor_name":"a
        Multi-Stakeholder Initiative","values":["Apparel"],"is_from_claim":false}]},"confidence":0.5117,"confirm_match_url":"/api/facility-matches/699490/confirm/","reject_match_url":"/api/facility-matches/699490/reject/"}],"item_id":804412,"geocoded_geometry":{"type":"Point","coordinates":[27.4610127,-29.3401858]},"geocoded_address":"MF56+WCC,
        Maseru, Lesotho","status":"POTENTIAL_MATCH"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: POST
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facility-matches/699490/reject/
  response:
    body:
      string: '{"id":804412,"matches":[{"id":699490,"status":"REJECTED","confidence":"0.51","results":{"code_version":"UNKNOWN","recall_weight":1.0,"no_geocoded_items":false,"automatic_threshold":0.8,"gazetteer_threshold":0.5,"no_gazetteer_matches":false},"os_id":"LS2021053GJXTHP","name":"Eclat
        Evergood Textiles Manufactures (PTY) LTD","address":"Site No.6 Thetsanr lndustrial
        Area Maseru","location":{"lat":-29.3150767,"lng":27.4869229},"is_active":true},{"id":699491,"status":"CONFIRMED","confidence":"1.00","results":{"match_type":"all_potential_matches_rejected"},"os_id":"LS2022296W4Q8H6","name":"ECLAT
        EVERGOOD TEXTILES MANUFA","address":"SITE NO. 6 AND 19 THETSANE IND , MASERU
        100 LS","location":{"lat":-29.3401858,"lng":27.4610127},"is_active":true}],"country_name":"Lesotho","processing_errors":null,"matched_facility":{"os_id":"LS2022296W4Q8H6","address":"SITE
        NO. 6 AND 19 THETSANE IND , MASERU 100 LS","name":"ECLAT EVERGOOD TEXTILES
        MANUFA","created_from_id":804412,"location":{"lat":-29.3401858,"lng":27.4610127}},"ppe_product_types":null,"ppe_contact_email":null,"ppe_contact_phone":null,"ppe_website":null,"row_index":0,"raw_data":"{\"name\":
        \"ECLAT EVERGOOD TEXTILES MANUFA\", \"address\": \"SITE NO. 6 AND 19 THETSANE
        IND , MASERU 100 LS\", \"country\": \"LS\", \"sector\": \"Apparel\"}","status":"CONFIRMED_MATCH","processing_started_at":null,"processing_completed_at":null,"name":"ECLAT
        EVERGOOD TEXTILES MANUFA","address":"SITE NO. 6 AND 19 THETSANE IND , MASERU
        100 LS","country_code":"LS","sector":["Apparel"],"clean_name":"eclat evergood
        textiles manufa","clean_address":"site no. 6 and 19 thetsane ind maseru 100
        ls","source":348693}'
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
