interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109833}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: name=This+is+definitely+a+similar+facility&address=Cl+29+No.+37+MARINILLA%2C+Medell%C3%ADn&country=Colombia&sector=Computers
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDDEN
    method: POST
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: "{\"matches\":[{\"id\":\"CO2022294AJ8TBG\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-75.56581530000001,6.2476376]},\"properties\":{\"name\":\"This
        is definitely a new facility\",\"address\":\"Cl 29 No. 37-02 MARINILLA, Medell\xEDn\",\"country_code\":\"CO\",\"os_id\":\"CO2022294AJ8TBG\",\"other_names\":[\"This
        is definitely a similar facility\"],\"other_addresses\":[\"Cl 29 No. 37 MARINILLA,
        Medell\xEDn\"],\"contributors\":[{\"id\":2757,\"name\":\"Klaus (Openapparel)\",\"is_verified\":false,\"contributor_name\":\"Klaus
        (Openapparel)\",\"list_name\":null}],\"country_name\":\"Colombia\",\"claim_info\":null,\"other_locations\":[{\"lat\":6.1731064,\"lng\":-75.3378851,\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"notes\":null}],\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null,\"activity_reports\":[],\"contributor_fields\":[],\"new_os_id\":null,\"has_inexact_coordinates\":false,\"extended_fields\":{\"name\":[{\"value\":\"This
        is definitely a new facility\",\"field_name\":\"name\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"updated_at\":\"2022-10-21T15:21:20.781209Z\"},{\"value\":\"This
        is definitely a similar facility\",\"field_name\":\"name\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"updated_at\":\"2022-10-21T15:24:42.639399Z\"}],\"address\":[{\"value\":\"Cl
        29 No. 37-02 MARINILLA, Medell\xEDn\",\"field_name\":\"address\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"updated_at\":\"2022-10-21T15:21:20.781209Z\",\"is_from_claim\":false},{\"value\":\"Cl
        29 No. 37 MARINILLA, Medell\xEDn\",\"field_name\":\"address\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"updated_at\":\"2022-10-21T15:24:42.639399Z\",\"is_from_claim\":false}],\"number_of_workers\":[],\"native_language_name\":[],\"facility_type\":[],\"processing_type\":[],\"product_type\":[{\"id\":152004,\"is_verified\":false,\"value\":{\"raw_values\":[\"Computers\"]},\"updated_at\":\"2022-10-21T15:24:42.758565Z\",\"contributor_name\":\"Klaus
        (Openapparel)\",\"contributor_id\":2757,\"value_count\":2,\"is_from_claim\":false,\"field_name\":\"product_type\",\"verified_count\":0},{\"id\":152003,\"is_verified\":false,\"value\":{\"raw_values\":[\"Computers\"]},\"updated_at\":\"2022-10-21T15:21:20.896425Z\",\"contributor_name\":\"Klaus
        (Openapparel)\",\"contributor_id\":2757,\"value_count\":2,\"is_from_claim\":false,\"field_name\":\"product_type\",\"verified_count\":0}],\"parent_company\":[]},\"created_from\":{\"created_at\":\"2022-10-21T15:21:20.439396Z\",\"contributor\":\"Klaus
        (Openapparel)\"},\"sector\":[{\"updated_at\":\"2022-10-21T15:24:42.639399Z\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"values\":[\"Unspecified\"],\"is_from_claim\":false}]},\"confidence\":0.8985}],\"item_id\":804345,\"geocoded_geometry\":{\"type\":\"Point\",\"coordinates\":[-75.3378851,6.1731064]},\"geocoded_address\":\"Marinilla,
        Antioquia, Colombia\",\"status\":\"MATCHED\",\"os_id\":\"CO2022294AJ8TBG\"}"
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
