interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109834}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: name=A&address=C&country=BX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDDEN
    method: POST
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: '{"country":["Could not find a country code for \"BX\"."]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
