interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/parent-companies/
  response:
    body:
      string: "[[767,\" \"],[\" \\\"\",\" \\\"\"],[620,\"-\"],[339,\"--\"],[\"1888
        Mills, LLC\",\"1888 Mills, LLC\"],[\"1984.0\",\"1984.0\"],[\"2010 DIS TICARET
        LIMITED SIRKETI\",\"2010 DIS TICARET LIMITED SIRKETI\"],[\"2B GROUP APS\",\"2B
        GROUP APS\"],[\"3700439983-001\",\"37004399[...]
