interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"databases": [{"default": {"ok": true}}], "caches": [{"api_throttling":
        {"ok": true}}, {"default": {"ok": true}}], "gazetteercache": {"ok": true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109834}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: name=Another+new+facility&address=Zone+Industrielle+BP+14&country=Algeria&sector=Food
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDDEN
    method: POST
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: '{"matches":[{"id":"DZ2022294Y5EP82","type":"Feature","geometry":{"type":"Point","coordinates":[1.659626,28.033886]},"properties":{"name":"Another
        new facility","address":"Zone Industrielle BP 14","country_code":"DZ","os_id":"DZ2022294Y5EP82","other_names":[],"other_addresses":[],"contributors":[{"id":2757,"name":"Klaus
        (Openapparel)","is_verified":false,"contributor_name":"Klaus (Openapparel)","list_name":null}],"country_name":"Algeria","claim_info":null,"other_locations":[],"ppe_product_types":null,"ppe_contact_phone":null,"ppe_contact_email":null,"ppe_website":null,"is_closed":null,"activity_reports":[],"contributor_fields":[],"new_os_id":null,"has_inexact_coordinates":false,"extended_fields":{"name":[{"value":"Another
        new facility","field_name":"name","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-21T17:21:04.322288Z"},{"value":"Another
        new facility","field_name":"name","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T17:30:20.416936Z"},{"value":"Another
        new facility","field_name":"name","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T17:39:15.043841Z"},{"value":"Another
        new facility","field_name":"name","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T17:53:37.307993Z"},{"value":"Another
        new facility","field_name":"name","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T18:01:51.074355Z"}],"address":[{"value":"Zone
        Industrielle BP 14","field_name":"address","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-21T17:21:04.322288Z","is_from_claim":false},{"value":"Zone
        Industrielle BP 14","field_name":"address","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T17:30:20.416936Z","is_from_claim":false},{"value":"Zone
        Industrielle BP 14","field_name":"address","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T17:39:15.043841Z","is_from_claim":false},{"value":"Zone
        Industrielle BP 14","field_name":"address","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T17:53:37.307993Z","is_from_claim":false},{"value":"Zone
        Industrielle BP 14","field_name":"address","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","updated_at":"2022-10-22T18:01:51.074355Z","is_from_claim":false}],"number_of_workers":[],"native_language_name":[],"facility_type":[],"processing_type":[],"product_type":[],"parent_company":[]},"created_from":{"created_at":"2022-10-21T17:21:04.046931Z","contributor":"Klaus
        (Openapparel)"},"sector":[{"updated_at":"2022-10-22T18:01:51.074355Z","contributor_id":2757,"contributor_name":"Klaus
        (Openapparel)","values":["Food"],"is_from_claim":false}]}},{"id":"DZ2022294Y5EP82","type":"Feature","geometry":{"type":"Point","coordinates":[1.659626,28.033886]},"properties":{"name":"Another
        new facility","address":"Zone Industrielle BP 14","country_code":"DZ","os_id":"DZ2022294Y5EP82","other_names":[],"other_addresses":[],"contributors":[{"id":2757,"name":"Klaus
        (Openapparel)","is_verified":false,"contributor_name":"Klaus (Openapparel)","list_name":null}],"country_name":"Algeria","claim_info":null,"o[...]
- request:
    body: name=Another+new+facility&address=Zone+Industrielle+BP+14&country=Algeria&sector=Food
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDDEN
    method: POST
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: '{"detail":"Request was throttled. Expected available in 57 seconds."}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      Retry-After:
      - '57'
    status:
      code: 429
      message: Too Many Requests
version: 1
