interactions:
- request:
    body: name=Place+A&address=Nowhere%2C+12345+Somewhere&country=DE&sector=Unspecified
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDETOKEN
    method: POST
    uri: https://openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: "{\"matches\":[{\"id\":\"DE2022255B2TJZK\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[10.950322,48.3536085]},\"properties\":{\"name\":\"Rudolf-Diesel
        Gymnasium\",\"address\":\"Peterhofstra\xDFe 9, 86163 Augsburg\",\"country_code\":\"DE\",\"os_id\":\"DE2022255B2TJZK\",\"other_names\":[],\"other_addresses\":[],\"contributors\":[{\"id\":2757,\"name\":\"Klaus
        (Openapparel)\",\"is_verified\":false,\"contributor_name\":\"Klaus (Openapparel)\",\"list_name\":null}],\"country_name\":\"Germany\",\"claim_info\":null,\"other_locations\":[],\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null,\"activity_reports\":[],\"contributor_fields\":[],\"new_os_id\":null,\"has_inexact_coordinates\":false,\"extended_fields\":{\"name\":[{\"value\":\"Rudolf-Diesel
        Gymnasium\",\"field_name\":\"name\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"updated_at\":\"2022-09-12T15:36:44.153732Z\"},{\"value\":\"Rudolf-Diesel
        Gymnasium\",\"field_name\":\"name\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"updated_at\":\"2022-09-30T11:16:47.016179Z\"},{\"value\":\"Rudolf-Diesel
        Gymnasium\",\"field_name\":\"name\",\"contributor_id\":2757,\"contributor_name\":\"Klaus
        (Openapparel)\",\"updated_at\":\"2022-09-30T13:28:32.575424Z\"},{\"value\":\"Rudolf-Diesel
        Gymnasium\",\"field_name\":\"name\",\"co[...]
