interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "gazetteercache": {"ok": true}, "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&detail=false
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":591,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&detail=false&page=2\",\"previous\":null,\"features\":[{\"id\":\"GB20191431WPT6G\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-1.87378,53.759196]},\"properties\":{\"name\":\"Advanced
        Processing Limited\",\"address\":\"Sidhill Business Park Holmfield Industrial
        Estate Holmfield Halifax HX2 9TN England United Kingdom\",\"country_code\":\"GB\",\"os_id\":\"GB20191431WPT6G\",\"country_name\":\"United
        Kingdom\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"GE2019098NA09EZ\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[41.764543,41.79286889999999]},\"properties\":{\"name\":\"Ajara
        Textile Ltd.\",\"address\":\"Bobokvati Street No:14 ,Bobokvati Village, Kobuleti,Batumi,Ajaria,Georgia\",\"country_code\":\"GE\",\"os_id\":\"GE2019098NA09EZ\",\"country_name\":\"Georgia\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is[...]
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&detail=false&page=2
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":591,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?contributors=127&contributors=2729&detail=false&page=3\",\"previous\":\"https://9f692df0338dcbc9848646c6.openapparel.org/[...]
[...]
