interactions:
- request:
    body: name=Place+B&address=Nowhere%2C+12346+Somewhere&country=DE&sector=Unspecified
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDETOKEN
    method: POST
    uri: https://openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: "{\"matches\":[],\"item_id\":790469,\"geocoded_geometry\":{\"type\":\"Point\",\"coordinates\":[10.913153,48.3868035]},\"geocoded_address\":\"Linke
        Brandstra\xDFe 21, 86167 Augsburg, Germany\",\"status\":\"NEW_FACILITY\",\"os_id\":\"DE2022276R5W9NN\"}"
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
