interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"gazetteercache": {"ok": true}, "caches": [{"api_throttling": {"ok":
        true}}, {"default": {"ok": true}}], "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?q=light&detail=false
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":264,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?detail=false&page=2&q=light\",\"previous\":null,\"features\":[{\"id\":\"MY2020212ATFQ5Y\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[101.6777001,3.1204246]},\"properties\":{\"name\":\"Ace
        Delight (M) Sdn Bhd\",\"address\":\"A-3-1, Block A, North Point Mid Valley,
        1, Medan Syed Putra Utara, 59200 Kuala Lumpur\",\"country_code\":\"MY\",\"os_id\":\"MY2020212ATFQ5Y\",\"country_name\":\"Malaysia\",\"has_approved_claim\":false,\"ppe_product_types\":[\"Nitrile
        Medical Gloves\"],\"ppe_contact_phone\":\"\",\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"CN2022238MZ70MJ\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[113.9655784,22.9310011]},\"properties\":{\"name\":\"AEL
        Lighting Co., Ltd.\",\"address\":\"No.268-5,ZhongXinJin Road,ShuiKou District
        \  Dalang 523785 Guangdong\",\"country_code\":\"CN\",\"os_id\":\"CN2022238MZ70MJ\",\"country_name\":\"China\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"i[...]
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?detail=false&page=2&q=light
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":264,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?detail=false&page=3&q=light\",\"previous\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?detail=false&q=light\",\"features\":[{[...]
[...]
