interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"caches": [{"api_throttling": {"ok": true}}, {"default": {"ok": true}}],
        "databases": [{"default": {"ok": true}}], "gazetteercache": {"ok": true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
