interactions:
- request:
    body: null
    headers:
      authorization:
      - HIDETOKEN
    method: GET
    uri: https://openapparel.org/api/facilities/DE20211253G9MQX/
  response:
    body:
      string: '{"id":"DE20211253G9MQX","type":"Feature","geometry":{"type":"Point","coordinates":[13.40625,52.52341]},"properties":{"name":"Footwear
        studios","address":"Stadtbahnbogen 135, 10178 Berlin, Germany","country_code":"DE","os_id":"DE20211253G9MQX","other_names":[],"other_addresses":[],"contributors":[{"id":1319,"name":"Find
        Sourcing (Find Sourcing Facility List May 2021)","is_verified":false,"contributor_name":"Find
        Sourcing","list_name":"Find Sourcing Facility List May 2021"}],"country_name":"Germany","claim_info":null,"other_locations":[],"ppe_product_types":null,"ppe_contact_phone":null,"ppe_contact_email":null,"ppe_website":null,"is_closed":null,"activity_reports":[],"contributor_fields":[],"new_os_id":null,"has_inexact_coordinates":false,"extended_fields":{"name":[{"value":"Footwear
        studios","field_name":"name","contributor_id":1319,"contributor_name":"Find
        Sourcing","updated_at":"2022-01-27T17:39:55.089265Z"}],"address":[{"value":"Stadtbahnbogen
        135, 10178 Berlin, Germany","field_name":"address","contributor_id":1319,"contributor_name":"Find
        Sourcing","updated_at":"2022-01-27T17:39:55.089265Z","is_from_claim":false}],"number_of_workers":[],"native_language_name":[],"facility_type":[],"processing_type":[],"product_type":[],"parent_company":[]},"created_from":{"created_at":"2021-05-05T13:58:25.354748Z","contributor":"Find
        Sourcing"},"sector":[{"updated_at":"2022-01-27T17:39:55.089265Z","contributor_id":1319,"contributor_name":"Find
        Sourcing","values":["Apparel"],"is_from_claim":false}]}}'
    headers:
      Allow:
      - GET, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
