interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"databases": [{"default": {"ok": true}}], "caches": [{"api_throttling":
        {"ok": true}}, {"default": {"ok": true}}], "gazetteercache": {"ok": true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/countries
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/countries/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/countries/
  response:
    body:
      string: "[[\"AF\",\"Afghanistan\"],[\"AX\",\"\xC5land Islands\"],[\"AL\",\"Albania\"],[\"DZ\",\"Algeria\"],[\"AS\",\"American
        Samoa\"],[\"AD\",\"Andorra\"],[\"AO\",\"Angola\"],[\"AI\",\"Anguilla\"],[\"AQ\",\"Antarctica\"],[\"AG\",\"Antigua
        and Barbuda\"],[\"AR\",\"Argentina\"],[\"AM\",\"Arme[...]
