interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"gazetteercache": {"ok": true}, "caches": [{"api_throttling": {"ok":
        true}}, {"default": {"ok": true}}], "databases": [{"default": {"ok": true}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?countries=CH&detail=false
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":82,\"next\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?countries=CH&detail=false&page=2\",\"previous\":null,\"features\":[{\"id\":\"CH2022234TE4H2S\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[9.1461813,46.2477371]},\"properties\":{\"name\":\"AGEMEAT
        AND TRADING AG\",\"address\":\"Via Pascolet, 41 Grono\",\"country_code\":\"CH\",\"os_id\":\"CH2022234TE4H2S\",\"country_name\":\"Switzerland\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"CH202021293Y402\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[9.0300683,45.8330553]},\"properties\":{\"name\":\"Akzenta
        International Sa\",\"address\":\"Via Giuseppe Motta, 24,CH-6830 Chiasso\",\"country_code\":\"CH\",\"os_id\":\"CH202021293Y402\",\"country_name\":\"Switzerland\",\"has_approved_claim\":false,\"ppe_product_types\":[\"Face
        Mask\",\"Nitrile Gloves\",\"Latex Gloves\",\"Vinlyl Gloves\",\"Swiss Edition
        Gloves\",\"Fog [...]
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?countries=CH&detail=false&page=2
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":82,\"next\":null,\"previous\":\"https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?countries=CH&detail=false\",\"features\":[{\"id\":\"CH2020053KVJDZ3\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"[...]
