interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/health-check/
  response:
    body:
      string: '{"databases": [{"default": {"ok": true}}], "caches": [{"api_throttling":
        {"ok": true}}, {"default": {"ok": true}}], "gazetteercache": {"ok": true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/count/
  response:
    body:
      string: '{"count":109371}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - HIDDEN
    method: GET
    uri: https://9f692df0338dcbc9848646c6.openapparel.org/api/facilities/?lists=859&detail=false
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"count\":30,\"next\":null,\"previous\":null,\"features\":[{\"id\":\"PL20210570NMZG5\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[19.3934261,51.8005855]},\"properties\":{\"name\":\"Abatex\",\"address\":\"Traktorowa
        128, \u0141\xF3d\u017A\",\"country_code\":\"PL\",\"os_id\":\"PL20210570NMZG5\",\"country_name\":\"Poland\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"PL201917290M18R\",\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[18.9217625,51.5892624]},\"properties\":{\"name\":\"Almax\",\"address\":\"Ul.Zlota58
        98-220 Zdunska Wola \u0141\xF3dzkie\",\"country_code\":\"PL\",\"os_id\":\"PL201917290M18R\",\"country_name\":\"Poland\",\"has_approved_claim\":false,\"ppe_product_types\":null,\"ppe_contact_phone\":null,\"ppe_contact_email\":null,\"ppe_website\":null,\"is_closed\":null}},{\"id\":\"PL2021057K8BB31\",\"[...]
