interactions:
- request:
    body: name=Place+C&address=Nowhere%2C+12347+Somewhere&country=DE&sector=Unspecified
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - HIDETOKEN
    method: POST
    uri: https://openapparel.org/api/facilities/??create=false&public=true&textonlyfallback=false
  response:
    body:
      string: "{\"matches\":[],\"item_id\":790468,\"geocoded_geometry\":{\"type\":\"Point\",\"coordinates\":[10.9097025,48.3831607]},\"geocoded_address\":\"Soldnerstra\xDFe
        35, 86167 Augsburg, Germany\",\"status\":\"NEW_FACILITY\",\"os_id\":\"DE202227686P47D\"}"
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
